.Add {
    padding: 100px;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    position: absolute;
    top: 150px;
    right: 30%;
}

.btnSend {
    width: 50px;
    margin: 20px 0;
    background: #f3ff19;
    border: 1px solid #a2a200;
    border-radius: 7px;
}

.form input{
    padding: 5px;
    margin: 10px 0;
    background: #f3f3f3;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
}
.form textArea {
    padding: 5px;
    margin: 10px 0;
    background: #f3f3f3;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
}