.quotes {
    text-align: left;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    width: 700px;

}
.postList {
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 20px;
    border: 2px solid #d4d408;
}

.btn {
    border: 2px solid #a2a200;
    width: 35px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}