.Container {
    position: relative;
}

.Header {
    padding: 5px 15px;
    border-bottom: 2px solid #a2a200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(to bottom, #f8f8a2 0%,#f3ff19 100%);
    height: 60px;
}

.nav {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.link {
    color: black;
    text-decoration: none;
}

.navBlock {
    position: absolute;
    left: 0;
    top: 71px;
    width: 200px;
    height: 1000px;
    border-right: 2px solid #a2a200;
    border-bottom: 2px solid #a2a200;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.linkMenu {
    padding: 10px 50px;
    text-decoration: none;
    text-align: left;
    color: black;
}
